*{
padding:0;
margin:0;
}
.joueursdroite li{
    list-style-type: none;
    }

.total{
position: relative;
background-color:black;}
.generale
{
background-image: url("../images/Cem.jpg");
background-image: no-repeat;
	height : 900px;
	width : 1599px;
position : absolute;
border-radius : 12px;
}
.joueursgauche
{
	
	float: left;
	width: 14%;
	height : 800px;
	margin : 15px;
	text-align : center;
	position : relative;
	font-family : MV Boli;
	font-weight: bold;
	tex-size : 15px;

	}
	.joueursgauche li{
    list-style-type: none;
    }
		.pj1 {
		width : 100%;
		margin : auto;
		color : red;

		}

		.pj2 {
		width : 100%;
		margin: auto;
		position: absolute;
		bottom: 0;
		color : white;

		}

.plateau
{
	width : 60%;
	height : 800px;
	float: left;
	margin : auto;
		
}
	.plateau1{
		background-image: url("../images/plateau2.jpg");
		margin-top : 50px;
		height : 700px;
		position: relative;
		border-radius : 12px;
		
		}
			.pjoueur1{
			position: absolute;
			left: 10px;
			top : 10px;
			border: 1px dashed yellow;
			}
			.pjoueur1 > div{
			display: inline-block;
			}
			.pjoueur2{
			position: absolute;
			left: 10px;
			bottom : 10px;
			border: 1px dashed blue;
			}
			.pjoueur2>div{
			display: inline-block;
			}
			.pjoueur3{
			position: absolute;
			right: 10px;
			top : 10px;
			text-align: right;
			border: 1px dashed red;
			}
			.pjoueur3>div{
			display: inline-block;
			}
			.pjoueur4{
			position: absolute;
			right: 10px;
			bottom : 10px;
			text-align: right;
			border : 1px dashed green;
			}
			.pjoueur4>div{
			display : inline-block;
			}
		.cartes{
		position: absolute ;
	
		left : 20%;
		top: 25%;
		text-align: center;
		
		}
.joueursdroite
{
	
	width: 14%;
	float: left;
	height : 800px;
	margin : 15px;
	text-align : center;
	position : relative;
	font-family : MV Boli;
	font-weight: bold;
	text-size : 15px;
	
}
		.pj3 {
		width : 100%;
		margin : auto;
		color: red;

		}

		.pj4 {
		width : 100%;
		margin: auto;
		position: absolute;
		bottom: 0;
		color:white;
		}
	

.droppable{
	border: 1px dashed black;
	width: 150px;
	height: 50px;
	display: inline-block;
}
