*{
	margin: 0px;
	padding: 0px;
}
}body{
background-image: url("gradient.jpg");
background-repeat: repeat-x;
background-color :#753f0a;
color:white;

}

header{
text-align: center;

}
.generale{ background-image: url("../images/chateau06.jpg");
-webkit-border-radius: 12px;
border-radius: 12px;
height : 900px;
}
#nav{
font-family : MV Boli;
}
input{
font-family : MV Boli;
}
ul{
    list-style-type: none;
	margin : 5px;
	display : inline;
	}
li {
margin: 1px;
margin-bottom : 10 px;
padding : 5px;
display:inline;
font-family : MV Boli;
font-size: 20px;
}
#nav a{
color : #c3aa89;


}
a:visited{
color : #c3aa89;
}

h1{color: #dacab6;
	text-align:center;
	font-family: MV Boli;
	text-align : center;}
	


.text-regle{color:red;
	text-align:center;}

fieldset{
	border:none;
}

p.text{
background-image : url("gradient2.jpg");
background-repeat: repeat-x;
background-color :#715335;
-webkit-border-radius: 12px;
    border-radius: 12px;
	opacity : 0,3;
width: 700px; /* On a indiqué une largeur (obligatoire) */
margin: auto; /* On peut donc demander à ce que le bloc soit
centré avec auto */
border: 1px solid black;
height: 500px;
text-align: justify;
padding: 12px;
margin-bottom: 20px;
overflow: auto;
font-family : MV Boli;
}

.corps{
text-align: justify;
margin: 15px;
padding : 25px;
}
.inscription
{
font-family : MV Boli;
color : #c3aa89;
margin : 10px;
text-align : justify;
}


#container {
}

#nav, #nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

#nav a {
   display: block;
   width: 10em;
}

#nav li {
   float: left;
   width: 10em;
}

#nav li ul {
   position: absolute;
   width: 10em;
   left: -999em;
}

#nav li:hover ul {
   left: auto;
}

#nav li:hover ul, #nav li.sfhover ul {
   left: auto;
}

label{color:white;}

.error{ font-size:160%;
	color:red;
}

.register{float:right;
}