<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HattariWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>hattari.web.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>hattari.web.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>hattari.web.servlets.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/Map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hattari.web.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>HattariFilter</display-name>
    <filter-name>HattariFilter</filter-name>
    <filter-class>hattari.web.filters.HattariFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HattariFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>OpenEntityManagerInViewFilter</display-name>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <filter-class>hattari.web.filters.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InitGame</display-name>
    <servlet-name>InitGame</servlet-name>
    <servlet-class>hattari.web.game.servlets.InitGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitGame</servlet-name>
    <url-pattern>/initgame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TurnClue</display-name>
    <servlet-name>TurnClue</servlet-name>
    <servlet-class>hattari.web.game.servlets.TurnClue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurnClue</servlet-name>
    <url-pattern>/turnclue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstPlayer</display-name>
    <servlet-name>FirstPlayer</servlet-name>
    <servlet-class>hattari.web.game.servlets.FirstPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstPlayer</servlet-name>
    <url-pattern>/firstplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accusation</display-name>
    <servlet-name>Accusation</servlet-name>
    <servlet-class>hattari.web.game.servlets.Accusation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accusation</servlet-name>
    <url-pattern>/accusation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewGame</display-name>
    <servlet-name>NewGame</servlet-name>
    <servlet-class>hattari.web.game.servlets.NewGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGame</servlet-name>
    <url-pattern>/newgame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameAction</display-name>
    <servlet-name>GameAction</servlet-name>
    <servlet-class>hattari.web.game.servlets.GameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameAction</servlet-name>
    <url-pattern>/gameaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartNewGameServlet</display-name>
    <servlet-name>StartNewGameServlet</servlet-name>
    <servlet-class>hattari.web.servlets.StartNewGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartNewGameServlet</servlet-name>
    <url-pattern>/StartNewGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>hattari.web.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>